.slick-wrap{
    position:relative;
    margin:50px 1.5%;
    .about-slick{
        .slide-arrow{
            position:absolute;
            top:0;
            bottom:0;
            margin:auto;
            &.prev-arrow{
                cursor: pointer;
                position:absolute;
                top:0;
                left:0;
                border:0;
                background-color: transparent;
                width:50px ;
                height:170px ;
                z-index: 1;
                &:before{
                    position:absolute;
                    content: "";
                    top:0;
                    left:20px;
                    width: 4px;
                    height:90px;
                    border-radius:10px;
                    background-color: $dark;
                    transform:rotate(25deg);
                }
                &:after{
                    position:absolute;
                    content: "";
                    bottom:0;
                    left:20px;
                    width: 4px;
                    height:90px;
                    border-radius:10px;
                    background-color: $dark;
                    transform:rotate(-25deg);
                }
                &:hover{
                    &:after{
                        background-color: $green;
                    }
                    &:before{
                        background-color: $green;
                    }
                }
            }
            &.next-arrow{
                cursor: pointer;
                position:absolute;
                top:0;
                right:0;
                border:0;
                background-color: transparent;
                width:50px ;
                height:170px ;
                z-index: 1;
                &:before{
                    position:absolute;
                    content: "";
                    top:0;
                    left:20px;
                    width: 4px;
                    height:90px;
                    border-radius:10px;
                    background-color: $dark;
                    transform:rotate(-25deg);
                }
                &:after{
                    position:absolute;
                    content: "";
                    bottom:0;
                    left:20px;
                    width: 4px;
                    height:90px;
                    border-radius:10px;
                    background-color: $dark;
                    transform:rotate(25deg);
                }
                &:hover{
                    &:after{
                        background-color: $green;
                    }
                    &:before{
                        background-color: $green;
                    }
                }
            }
        }
    }
    .slick-list{
        margin:0 100px;
        .slick-slide{
            @include flex(row, center, center);
            img{
                max-width:540px;
                height: 310px;
            }
        }
    }
}