@mixin bg-image($image-width, $image-height, $background-size: contain) {
  background-size: $background-size;
  background-position: center center;
  background-repeat: no-repeat;
  height: 0;
  padding-bottom: percentage($image-height / $image-width);
  display: block;
}

@mixin clearfix {
  *zoom: 1;

  &::before,
  &::after {
    content: " ";
    display: block;
    line-height: 0;
  }

  &::after {
    content: " ";
    display: block;
    clear: both;
  }
}

@mixin cf {
  @include clearfix;
}

@mixin fluid($width: $site_width) {
  margin: auto;
  width: $width;

  @include clearfix;
  @media #{$smartphone} {
    width: auto;
  }
}

@mixin container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: $space;
  padding-right: $space;
  width: $site_width;

  @include clearfix;
  @media #{$smartphone} {
    width: auto;
  }
}

@mixin container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }
}

// Font Size
@mixin fs($size) {
  font-size: $size+px;
  @media #{$smartphone} {
    @if $size >=18 {
      font-size: 18px;
    }
    @else {
      font-size: $size+px;
    }
  }
}
// Font Size (!important)
@mixin _fs($size) {
  font-size: $size+px !important;
  @media #{$smartphone} {
    font-size: $size+px !important;
  }
}


@mixin under-none {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@mixin hover($alpha: 0.8) {
  a:hover {
    img {
      opacity: $alpha;
    }
  }
}
@mixin alpha($alpha: 0.8) {
  opacity: $alpha;
}

@mixin full {
  height: auto;
  width: 100%;
}

@mixin max {
  height: auto;
  max-width: 100%;
}

@mixin radius ($topLeft: 5px, $topRight: 5px, $bottomRight: 5px, $bottomLeft: 5px) {
  border-radius: $topLeft $topRight $bottomRight $bottomLeft !important;
}

// flex IE対策
/*
@mixin flex {
    display: flex;
    -js-display: flex;
}

@mixin flex-row {
    @include flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
*/
// 円形画像のIE対策
@mixin ofi(){
  object-fit: cover;
  font-family: 'object-fit: cover;'
}

// Personal Code
@mixin bayon (){
  font-family: 'Bayon', sans-serif;
}
@mixin romajiFont($weight:bold){
    font-family: 'Nunito Sans', sans-serif;
    font-weight: $weight;
}
@mixin kanjiFont($weight:bold){
    font-family:'Noto Sans JP', sans-serif;
    font-weight: $weight;
}
@mixin shadow($opacity:0.1){
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, $opacity);
}
@mixin flex($direction:column, $justify:center, $align:center){
  display:flex;
  flex-direction:$direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin animation($time: 0.5s, $ease: ease-in) {
  // @include css3(transition, $time);
  transition: all $time $ease;
}

@mixin animate ($anima:name, $time:1s, $transition: ease-in, $direction: infinite, $alternation:alternate) {

// Animation transition: [ease - ease-in - ease-out -ease-in-out - linear]
// Animation directions: [infinite]
// Animation alternation: [normal - reverse - alternate - alternate-reverse]
animation: $anima $time $transition $direction $alternation;

  // ROTATE
  @keyframes rotate {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
  }
  // Hi There!
  @keyframes hithere {
    30% { transform: scale(1.2); }
    40%, 60% { transform: rotate(-20deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
  }
  // PULSE
  @keyframes pulse {
    from { transform: scale(0.8); }
    to { transform: scale(1.2); }
  }
  // FLIP
    backface-visibility: visible !important;
  @keyframes flip {
    0% {
      transform: perspective(400px) rotateY(0);
      animation-timing-function: ease-out;
    }
    40% {
      transform: perspective(400px) translateZ(150px) rotateY(170deg);
      animation-timing-function: ease-out;
    }
    50% {
      transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
      animation-timing-function: ease-in;
    }
    80% {
      transform: perspective(400px) rotateY(360deg) scale(.95);
      animation-timing-function: ease-in;
    }
    100% {
      transform: perspective(400px) scale(1);
      animation-timing-function: ease-in;
    }
  }
}